# You may wish to populate some of the below variables from sources other than
# this file (e.g. passwords).  Other options include sourcing from the command
# line or from environment variables.  See the following page for more info:
# https://www.terraform.io/docs/configuration/variables.html#assigning-values-to-root-module-variables

vsphere_server = "vcenter-67.ssl.mirantis.net"
vsphere_user = "<username>"
vsphere_password = "<password>"

datacenter = "MIRANTIS"
resource_pool = "/MIRANTIS/host/MCC-BMteam/Resources/Hosted-ResPool"
datastore = "/MIRANTIS/datastore/iscsi-storage-mcc"
network = "VMWare-MCC-Hosted"
folder = "/MCC-Hosted/demo1"
controller_vm_template = "/MIRANTIS/vm/MCC-Hosted/Ubuntu-20.04-k0s-tmpl"
worker_vm_template = "/MIRANTIS/vm/MCC-Hosted/Ubuntu-20.04-k0s-tmpl"

ssh_private_key_file = "/path/to/priv_key"
ssh_public_key_file = "/path/to/pub_key"

k0s_version = "v1.28.5+k0s.0"

quantity_controllers = 2
quantity_workers = 1
cpu_count = 4
memory_count = 4096
ip_range_controllers = "172.16.38.149-172.16.38.151"
ip_range_workers = "172.16.38.152-172.16.38.153"
k0s_lb_ip = "172.16.38.174"
network_gateway = "172.16.38.1"
cluster_name = "k0s-cluster"
